extends ../layout/main

block append vars
	- var siteTitle = 'Some Title';
	- var pageClass = 'index-page';

block content
	main.page
		.container
			button.modal-open(data-modal-open='First' data-speed-overlay='300' data-speed-window='300') Открыть
			.content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad fugiat, atque modi ut tenetur iusto labore soluta dolor laudantium rem. Velit itaque quibusdam quia assumenda, voluptatem unde, facere animi aut, eveniet inventore id culpa. A fugit deleniti perspiciatis tempora, magni velit exercitationem laboriosam illum eligendi pariatur quisquam dolor quam!
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo cumque, adipisci nemo ex assumenda fugiat soluta amet quidem aliquid.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, nulla!
			
